<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.friark"
            class="MVCore.MVCorePackage"
            genModel="mvcore.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.importer.modelImporterDescriptors">
      <modelImporterDescriptor
            description="Imports mvcore models"
            id="MVCore.modelImporterDescriptor"
            name="MVCore"
            wizard="mvcore.importer.MVCoreImporterWizard">
      </modelImporterDescriptor>
   </extension>
   
   
   
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="MVCore"
            id="mvcore.commands.category">
      </category>
      <command
            name="generate classes"
            categoryId="mvcore.commands.category"
            id="mvcore.editorCommand">
      </command>
      <command
            name="generate CRUD"
            categoryId="mvcore.commands.category"
            id="mvcore.crudCommand">
      </command>
      <command
            id="MVCore.generateCommand"
            name="generate2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="mvcore.editorCommand"
            class="org.friark.mvcore.handlers.GenerateHandler">
      </handler>
      <handler
            commandId="mvcore.crudCommand"
            class="org.friark.mvcore.handlers.AddCrudHandler">
      </handler>
      <handler
            class="org.friark.mvcore.handlers.GenerateHandler2"
            commandId="MVCore.generateCommand">
      </handler>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.menus">
     
         <menuContribution
            locationURI="popup:MVCore.presentation.MVCoreEditorID">
          <menu
               label="MVCore"
               mnemonic="M"
               id="mvcore.menus.generateMenu"> 
            <command
                  commandId="mvcore.editorCommand"
                  mnemonic="S"
                  id="mvcore.editorCommand">
            </command>
           <command
                  commandId="mvcore.crudCommand"
                  mnemonic="S"
                  
                  id="mvcore.crudCommand">
                    <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="MVCore.EControllerClass">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
                  
            </command>
           <command
                 commandId="MVCore.generateCommand"
                 label="generate2"
                 mnemonic="g">
           </command>
            
         </menu>
      </menuContribution>
	</extension>
	
	
	
	<extension point="org.eclipse.ui.propertyPages">
        <page 
                id="org.friark.mvocore.poject_properties" 
                name="MVCore properties" 
                class="org.friark.mvcore.handlers.MVCorePropertiesPage"
                >
                <enabledWhen>
                        <adapt type="org.eclipse.core.resources.IProject"></adapt>
                </enabledWhen>
        </page>
 	</extension>
	
</plugin>
