package ${packageName}

import grails.converters.XML
import javax.annotation.Generated
<% def imports = []
klass.EOperations.each { action -> 
		if(action.EType && !imports.contains("${action.EType.EPackage?.name}.${action.EType.name}")){
			imports << "${action.EType.EPackage.name}.${action.EType.name}"
%>
import ${action.EType.EPackage.name}.${action.EType.name}
<% } } 
service = "${klass.name[0].toLowerCase()}${klass.name[1..(klass.name.length() - 1)]}Service"
%>
class ${klass.name}${klass.name.endsWith('Controller') ? '' : 'Controller'} {
	def ${service}
	 
	<% klass.EOperations.each{ action ->
	%>
	@Generated(value="org.friark.mvcore.generators.grails.GrailsGenerator")
	def ${action.name} = {
		<% if("list" == action.name){ %>
		params.max = Math.min( params.max ? params.max.toInteger() : 10,  100)
		withFormat{
			html{ 
				return [ ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}InstanceList: ${action.EType.name}.list( params ), ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() - 1)]}InstanceTotal: ${action.EType.name}.count() ]
			}
			xml{
				render ${action.EType.name}.list() as XML
			}
		}
		<% } else if("show" == action.name) { %>
		withFormat{
			html{ 
				return [ ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name}.get( params.id )]
			}
			xml{
				render ${action.EType.name}.get(params.id) as XML
			}
		}
		<% } else if("index" == action.name) {%>
			redirect(action: "list", params: params)
		<% } else if("create" == action.name) {%>
		def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance = new ${action.EType.name}()
		${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.properties = params
		return [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance]
		<% } else if("save" == action.name) {%>
		if(${service} && (${service}.metaClass.pickMethod("create", [Object.class] as Class[]) || ${service}.metaClass.pickMethod("create", [Object.class, Object.class] as Class[] ))){
			def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance
			def success
			if(${service}.metaClass.pickMethod("create", [Object.class, Object.class] as Class[] )) (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance, success) = ${service}.create( params, request )
			else (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance, success) = ${service}.create( params )
			withFormat {
				html { render(view: "show", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance]) }
                xml { render ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance as XML }
			
			}
		} else {
			def _params = params.${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]} ? params.${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]} : params
			
			def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance = new ${action.EType.name}(_params)
    	    if (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.save(flush: true)) {
        	    flash.message = "\${message(code: 'default.created.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: ' ${action.EType.name}'), ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.id])}"
            	redirect(action: "show", id: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.id)
	        }
    	    else {
        	    render(view: "create", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance])
	        }
	    }		
		<% } else if("edit" == action.name) {%>
        def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance = ${action.EType.name}.get(params.id)
        if (!${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance) {
            flash.message = "\${message(code: 'default.not.found.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}'), params.id])}"
            redirect(action: "list")
        }
        else {
            return [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance]
        }
		<% } else if("update" == action.name) {%>
		if(${service} && (${service}.metaClass.pickMethod("update", [Object.class] as Class[]) || ${service}.metaClass.pickMethod("update", [Object.class, Object.class] as Class[]))){
			def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance
			def success
			if(${service}.metaClass.pickMethod("create", [Object.class, Object.class] as Class[] )) (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance, success) = ${service}.update( params, request )
			else (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance, success) = ${service}.update( params )
			
			withFormat {
				html { render(view: "show", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance]) }
                xml { render ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance as XML }
			
			}
		} else {
			def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance = ${action.EType.name}.get(params.id)
			if (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance) {
        	    if (params.version) {
            	    def version = params.version.toLong()
                	if (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.version > version) {

                    	${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.errors.rejectValue("version", "default.optimistic.locking.failure", [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}')] as Object[], "Another user has updated this ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]} while you were editing")
 	                   render(view: "edit", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance])
    	                return
        	        }
            	}
	            ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.properties = params
    	        if (!${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.hasErrors() && ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.save(flush: true)) {
        	        flash.message = "\${message(code: 'default.updated.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}'), ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.id])}"
            	    withFormat {
            	    	html { 
            	    		render(view: "edit", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance])
            			}
            			form { 
            	    		render(view: "edit", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance])
            			}
            			xml { render ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance as XML }
            		}
            	}
            	else {
            		withFormat {
            	    	html { 
            	    		render(view: "edit", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance])
            			}
            			form { 
            	    		render(view: "edit", model: [${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance: ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance])
            			}
            			xml { render text:"<errors>\${flash.message}</errors>", contentType:"text/xml",encoding:"UTF-8" }
            		}
                	
            	}
        	}
        	else {
            	flash.message = "\${message(code: 'default.not.found.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}'), params.id])}"
            	redirect(action: "list")
        	}
        }
		<% } else if("delete" == action.name) {%>
		def ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance = ${action.EType.name}.get(params.id)
        if (${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance) {
            try {
                ${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}Instance.delete(flush: true)
                flash.message = "\${message(code: 'default.deleted.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}'), params.id])}"
                redirect(action: "list")
            }
            catch (org.springframework.dao.DataIntegrityViolationException e) {
                flash.message = "\${message(code: 'default.not.deleted.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}'), params.id])}"
                redirect(action: "show", id: params.id)
            }
        }
        else {
            flash.message = "\${message(code: 'default.not.found.message', args: [message(code: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}.label', default: '${action.EType.name[0].toLowerCase()}${action.EType.name[1..(action.EType.name.length() -1)]}'), params.id])}"
            redirect(action: "list")
        }
		<% } else {%>
			if(${service} && (${service}.metaClass.pickMethod("${action.name}", [Object.class] as Class[]) ||${service}.metaClass.pickMethod("${action.name}", [Object.class, Object.class] as Class[]) )){
				def result
				if(${service}.metaClass.pickMethod("${action.name}", [Object.class, Object.class] as Class[])) result = ${service}.${action.name}(params, request)
				else result = ${service}.${action.name}(params)
				if(result instanceof Closure){
                                        return result(this)
                } else {
				    withFormat {
            	    	html { 
            	    		return [result: result]
            			}
           			    xml { render result as XML }
            		}
            	}
			}
		<% } %>
	}
		
	<% } %>
}